
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>€=€</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/404/style404.css" />
</head>
<body>
  <div class="container">
  <div class="glitch" data-text="404">404</div>
  <div class="glow">404</div>
  <p class="subtitle">SORRY BUT THE PAGE WAS NOT FOUND</p>
  </div>
  <div class="scanlines"></div>
</body>
</html>
