<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="https://cdn.glitch.com/806c4b29-17a4-4de5-a660-fd1052b17ca6%2Fskull-glyphe.jpg?v=1590739571404"
    />

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Menu</button>

      <div id="myDropdown" class="dropdown-content">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </div>

    <script>
      /* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches(".dropbtn")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
  </body>
</html>

<link rel="stylesheet" type="text/css" href="style.css" media="screen" />

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = "d8a9437da802c75b2945151b71b6ed4bb4166355";
  window.smartsupp ||
    (function(d) {
      var s,
        c,
        o = (smartsupp = function() {
          o._.push(arguments);
        });
      o._ = [];
      s = d.getElementsByTagName("script")[0];
      c = d.createElement("script");
      c.type = "text/javascript";
      c.charset = "utf-8";
      c.async = true;
      c.src = "https://www.smartsuppchat.com/loader.js?";
      s.parentNode.insertBefore(c, s);
    })(document);
</script>
